.account-container {
  min-height: 100vh;
  margin-top: -72px;
  border: 1px solid #ffffff00;
}

.account-container h1 {
  margin-top: 100px;
  margin-bottom: 30px;
}

.loader {
  margin: 20px auto;
  color: #00BCD4;
  text-align: center;
}

.account {
  display: flex;
}

.account-info {
  width: 50%;
}

.account-info .btn {
  margin-top: 20px;
}

.account-history {
  width: 50%;
  margin-bottom: 50px;
}

.account-history h1 {
  margin-top: 100px;
  text-align: center;
}

.account-history .orders table {
  width: 100%;
  margin: 10px auto;
  border-spacing: 0;
}

.orders th {
  padding: 5px 5px;
  background-color: #00BCD4;
  color: white;
  text-align: left;
}

.orders td {
  padding: 12px 5px;
  text-align: left;
}