.product-details-container {
  min-height: 100vh;
  margin-top: -72px;
  border: 1px solid #ffffff00;
}

.product-details-container h1 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
}

.product-image {
  width: 40%;
}

.product-image img {
  max-height: 364px;
  margin: 20px 0;
}

.product-info {
  width: 60%;
  text-align: center;
}

.product-info table {
  width: 100%;
  margin: 20px 0;
}

.product-info th {
  background-color: #00BCD4;
  color: white;
}

.product-info th, .product-info td {
  padding: 3px;
  text-align: left;
  border: 1px solid #80DEEA;
}

.price-text {
  font-size: 16px;
  font-weight: bold;
}

.price-num {
  margin: 0 50px 0 10px;
  font-size: 30px;
  font-weight: bold;
  color: #64DD17;
}

.product-handle {
  display: flex;
  margin: 40px 0;
}

.product-handle .left {
  width: 40%;
}

.product-handle .left .btn {
  margin-top: 9px;
}

.product-handle .right {
  width: 60%;
}

.product-handle .right input {
  margin: 10px;
  width: 40px;
  height: 28px;
  font-size: 17px;
}