.product {
  display: flex;
  width: 100%;
  height: 200px;
  max-height: 200px;
  margin: 10px 0;
  box-shadow: 0 0 7px #d6d6d6;
}

.product img {
  max-width: 190px;
  max-height: 180px;
  margin: auto;
}

.content {
  display: flex;
  width: 75%;
  height: 190px;
  max-height: 190px;
  margin: auto;
}

.content-left {
  width: 80%;
}

.content-left h3 {
  margin: 10px 0 25px 0;
}

.content-left div {
  margin: 1.5px 0;
}

.content-right {
  width: 20%;
}

.content-right p {
  margin: 50px 0 0 0;
}

.content-right h2 {
  margin: 0 0 40px 0;
  font-size: 30px;
  color: #64DD17;
}